body {
    margin: 0;
}

header {
    height: 60px;
    overflow: visible;
}

header nav {
    /* width: 100%; */
    float: right;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.shop_logo {
    height: 100px;
    width: auto;
    z-index: 9999;
    margin: -10px 0 0 0;
}

.main-menu {
    width: 300px;
}

.login-menu {
    width: 200px;
    float: right;
}

.product_of_the_day_container {
    height: 600px;
    width: 100%;
}

.item_of_the_day_controller {
    width: 100%;
    height: 100%;
    position: relative;
}

.home_deal {
    height: 55vh;
}

.item_of_the_day_controller img {
    object-fit: cover;
    object-position: 30% 25%;
    width: 100%;
    height: 100%; 
}

.item_of_the_day_controller .percentageBox {
    position: absolute;
    color: white;
    bottom: 5px;
    right: 15px;
    font-size: 3.0em;
    padding: 30px;
    background-image: url('../../resources/percentage_bubble.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.item_of_the_day_controller .product_title {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 3.0em;
    margin: 0;
    color: white;
}

.product_container {
    display: grid;
    height: auto;
    padding: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}

.item {
    height: 500px;
    width: 350px;
    grid-auto-columns: auto;
}

.item img{
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 5px;
}

.form-controller {
    padding-top: 20px;
}

.old_price {
    position: relative;
    width: 35px;
}

.old_price:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #db0b0b;
    border-color: inherit;
  
    -webkit-transform:rotate(-20deg);
    -moz-transform:rotate(-20deg);
    -ms-transform:rotate(-20deg);
    -o-transform:rotate(-20deg);
    transform:rotate(-20deg);
  }

  .sidemenu {
      width: 250px;
<<<<<<< HEAD
      height: 100%;
=======
      min-height: 100vh;
>>>>>>> e2d15aa780a54a20a9aef31367f478be6b952653
      position: sticky;
      top: 0;
      background-color: #d8d8d8;
    }   

  .product_panel {
      background-color: rgb(245, 245, 245);
      border-radius: 5px;
  }

  .product_row {
      background-color: rgb(226, 226, 226);
      border-radius: 10px;
      padding: 8px 0 8px 0;
  }

  .admin_old_price {
      position: relative;
      width: 20px;
  }

  .admin_old_price::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #db0b0b;
    border-color: inherit;
  
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);   
  }